@font-face{
  font-family: 'Dank Mono Italic';
  src: url('../fonts/Dank-Mono-Italic.woff');
}
@font-face{
  font-family: 'Segoe UI';
  src: url('../fonts/segoeui.woff');
}
@font-face{
  font-family: 'Segoe UI Semilight';
  src: url('../fonts/segoeuisl.woff');
}

.btn-green {
  border: 1px solid #10A499;
  border-radius: 15px;
  font-family: 'Segoe UI';
  padding: 0 20px;
  color: #10A499;
}

.btn-publish {
  border: 1px solid #10A499;
  border-radius: 15px;
  font-family: 'Segoe UI';
  padding: 0 20px;
  color: #FFF;
}

.btn-publish:hover {
  color: rgb(214, 214, 214);
}

.btn-green:hover  {
  background-color: #10A499;
  color: #FFF;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}