.ProseMirror {
  > * + * {
    margin-top: 0.50em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }
  
  outline: none;

  color: #C0C0C0;

  img {
    width: 100%;
  }
}

.bubble-menu {
  display: flex;
  background-color: #0D0D0D;
  padding: 0.2rem;
  border-radius: 0.5rem;

  button {
    border: none;
    background: none;
    color: #FFF;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 0.2rem;
    opacity: 0.6;

    &:hover,
    &.is-active {
      opacity: 1;
    }
  }
}

.floating-menu {
  display: flex;
  background-color: #FFF;
  padding: 0.2rem;
  border-radius: 0.5rem;

  button {
    border: none;
    background: none;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 0.2rem;
    opacity: 0.6;

    margin: 0 3px;

    &:hover,
    &.is-active {
      opacity: 1;
    }
  }

  label {
    border: none;
    background: none;
    font-size: 0.85rem;
    font-weight: 500;
    opacity: 0.6;

    margin: 0 3px;
    cursor: pointer;

    color: #404142;
    &:hover,
    &.is-active {
      opacity: 1;
    }
  }
}